{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}
{% load url from future %}

{% block form_id %}update_alarm_form{% endblock %}
{% block form_action %}{% url 'horizon:admin:alarms:update' form.initial.alarm_id %}{% endblock %}

{% block modal-header %}{% trans "Edit Alarm" %} {{ form.initial.name }}{% endblock %}

{% block modal-body %}
<div class="left">
    <dl>
      <dt>{% trans "ID" %}</dt>
      <dd>{{ form.initial.alarm_id }}</dd>
    </dl>
    <dl>
      <dt>{% trans "Name" %}</dt>
      <dd>{{ form.initial.name }}</dd>
    </dl>
    <hr>
    <fieldset>
    {% include "horizon/common/_form_fields.html" %}
    </fieldset>
</div>
<div class="right">
    <h3>{% trans "Description" %}:</h3>
    <p>{% trans "verbose desc"%}</p>
</div>
{% endblock %}

{% block modal-footer %}
  <input class="btn btn-primary pull-right" type="submit" value="{% trans "Save Changes" %}" />
  <a href="{% url 'horizon:admin:alarms:index' %}" class="btn secondary cancel close">{% trans "Cancel" %}</a>
{% endblock %}
